button {
  display: block;
}

.jumbotron-fluid {
  padding: 20px;
}

#descriptor {
  font-style: italic;
}

#odds {
  display: block;
  word-wrap: break-word;
}

.sticky-footer {
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
}

.icon-large {
  font-size: 24px;
  margin-bottom: 1px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  flex: 1;
}

hr {
  background-color: white;
  border-color: white;
}

.alert {
  cursor: pointer;
  font-size: 14px;
}

img {
  width: 100%;
}

p {
  font-weight: bold;
  font-size: 18px;
}

#typewriter {
  font-size: 48px;
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .alert {
    font-size: 12px;
    cursor: pointer;
  }

  #odds {
    font-size: 16px;
  }
}