button {
  display: block;
}

.jumbotron-fluid {
  padding: 20px;
}

#odds {
  display: block;
  word-wrap: break-word;
}

.sticky-footer {
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
}

.icon-large {
  font-size: 24px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  flex: 1;
}

.alert {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .alert {
    font-size: 10px;
  }
}